:host {
  flex: auto;
  overflow: scroll;
}

.ui {
  &.generator {
    margin: 8px;

    h2.header {
      margin: 1.5rem 0.7rem;
      font-weight: 400;
    }

    .content {
      display: flex;
      height: 100%;
      width: 100%;

      .restrictions {
        width: 230px;
      }

      .results {
        flex: auto;
        padding: 0 0.5em;
      }
    }
  }
}
