:host {
  flex: auto;
}

.ui {
  &.generator {
    color: #fff;

    .content {
      display: flex;
      height: 100%;
      width: 100%;

      .restrictions {
        width: 230px;
      }

      .results {
        flex: auto;
        padding: 0 0.5em;
      }
    }

    > .segment {
      border-left-width: 0;
      border-right-width: 0;
      border-top-width: 0;
    }
  }
}
