<div class="ui generator">
  <div class="ui segment">
    {{ 'PAGES.GENERATOR.SELECT' | translate }}
    <div class="ui inline dropdown">
      <div class="text">{{ collection.name }}</div>
      <i class="dropdown icon"></i>
      <div class=" menu">
        <div class="item" *ngFor="let entry of tables | keyvalue" (click)="setTable(entry.key)">{{ entry.value }}</div>
      </div>
    </div>
  </div>

  <div class="content">
    <section class="restrictions">
      <div class="ui segment" *ngIf="showOptions">
        <div class="ui mini form">
          <h4 class="ui dividing header">Select Restrictions:</h4>
          <div *ngFor="let restriction of options | keyvalue" class="field">
            <label>{{ restriction.key | titlecase }}</label>
            <select [name]="restriction.key" [(ngModel)]="restrictions[restriction.key]" class="ui dropdown" multiple="">
              <option *ngFor="let entry of restriction.value" value="{{ entry }}">{{ entry | titlecase }}</option>
            </select>
          </div>
        </div>
      </div>
      <button class="ui button" (click)="clear()"><i class="inverted red delete icon"></i> Clear</button>
      <button class="ui primary button" (click)="generate()"><i class="dice d20 icon"></i> Generate</button>
    </section>

    <section class="results">
      <table class="ui striped table" *ngIf="output.length > 0">
        <tbody>
          <tr *ngFor="let entry of output">
            <td [innerHTML]="entry"></td>
            <td class="right aligned"><i class="caret right icon"></i></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
