<div class="ui settings">
  <div class="ui segment">
    <h4 class="ui dividing header">{{ 'PAGES.SETTINGS.CAMPAIGN' | translate }}</h4>
    <form class="ui form">
      <div class="field">
        <label>{{ 'PAGES.SETTINGS.CAMPAIGN_NAME' | translate }}</label>
        <input type="text" name="campaign-name" placeholder="First Adventure" [(ngModel)]="campaign.name">
      </div>
      <button class="ui primary button" type="submit" (click)="save()">{{ 'GENERICS.SAVE' | translate }}</button>
    </form>
  </div>
</div>
