<div class="ui console">
  <div class="ui inverted segment">
    {{ 'CONSOLE.TEST' | translate }}
    <div class="ui inline dropdown">
      <div class="text">{{ tableService.get(rolling).name }}</div>
      <i class="dropdown icon"></i>
      <div class=" menu">
        <div class="item" *ngFor="let entry of tables | keyvalue" (click)="setTable(entry.key)">{{ entry.value }}</div>
      </div>
    </div>
    <i (click)="update()" class="inverted green sync alternate icon"></i>
    <i (click)="clear()" class="inverted red delete icon"></i>
  </div>

  <div class="ui grid">
    <div class="four wide column" *ngIf="showOptions">
      <div class="ui inverted segment">
        <div class="ui inverted mini form">
          <h4 class="ui inverted dividing header">Select Restrictions:</h4>
          <div *ngFor="let restriction of options | keyvalue" class="inline field">
            <label>{{ restriction.key | titlecase }}</label>
            <select [name]="restriction.key" [(ngModel)]="restrictions[restriction.key]" class="ui dropdown" multiple="">
              <option *ngFor="let entry of restriction.value" value="{{ entry }}">{{ entry | titlecase }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="twelve wide column">
      <div *ngFor="let entry of output" [innerHTML]="entry"></div>
    </div>
  </div>
</div>
