.ui {
  &.app.window {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &.split.view {
    margin-left: 50px;

    &.horizontal {
      display: flex;
      height: 100%;

      router-outlet {
        flex: none;
      }
    }
  }
}
