.ui {
  &.app.window {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &.split.view {
    &.horizontal {
      display: flex;
      height: 100%;

      router-outlet {
        flex: none;
      }
    }
  }
}

i.icon.dice.d20:before { content: "\f6cf" }
