<div class="ui inverted violet menu">
  <div class="ui dropdown item">
    {{ 'NAVIGATION.HOME' | translate }}
    <i class="dropdown icon"></i>
    <div class="inverted violet menu">
      <a class="item" (click)="newCampaign()">
        <i class="file icon"></i> New Campaign
      </a>
      <a class="item" (click)="fileOpen()">
        <i class="folder open icon"></i> Open Campaign
      </a>
      <a class="item" (click)="fileSave()">
        <i class="save icon"></i> Save Campaign
      </a>
      <a class="item" (click)="fileSaveAs()">
        <i class="save icon"></i> Save Campaign As...
      </a>
      <div class="divider"></div>
      <a class="item" [routerLink]="['/']">
        <i class="cogs icon"></i> Settings
      </a>
      <div class="divider"></div>
      <a class="item" (click)="closeWindow()">
        <i class="times icon"></i> Quit
      </a>
    </div>
  </div>
  <a class="icon item" [routerLink]="['/generator']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="dice d20 icon"></i></a>
  <a class="icon item" [routerLink]="['/character-sheet']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="user icon"></i></a>
</div>
